body {
    line-height: 24px !important;
}

h2{
    line-height: 72px !important;
    letter-spacing: 4.1875rem;//67px;
}

h5{  //font-size: 20px 見varablies的h5大小
    line-height: 30px;
}

img{
    vertical-align: middle;
}

a{
    text-decoration: none !important;
}