// _mixin.scss
@mixin pad{
    @media(max-width: 768px){
        @content;
    }
  }
  
@mixin mobile{
  @media(max-width: 375px){
        @content;
  }
}

//background
@mixin radial-gradient(
  $start-color: $primary,
  $end-color: $secondary,
) {
  background-image: radial-gradient(50% 50% at 50% 50%, $start-color 0%, $end-color 100%);
}