@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");// card上的圓圈圈使用該icon
.bg-black-primary-gradient {
    @include radial-gradient(#000000, #28085c);
}

.text-black {
  color: #000000 !important;
}

.fs-6 {
  font-size: 16px;
}

.fs-7 {
  font-size: 8px;
}

.share {
  .share-swiper {
    .swiper-wrapper {
      margin-bottom: 0;
      height: 416px;
    }
  }
  .share-scroll {
    margin-bottom: 124px;
  }
}

/* 整個滾動條的背景顏色 */
.swiper-scrollbar {
  background-color: rgba(255, 255, 255, 0.2);
}
/* 滾動條可拖曳區塊的顏色 */
.swiper-scrollbar-drag {
  background-color: #ffffff !important;
}
  
.share {
  &-card {
    padding: 40px;
    background-color: #380c7e;
    color: #ffffff;
    min-height: 351px;
    @include mobile{
      margin-bottom: 24px;
    }
  }
}
