.background-color-1F0F39{
    background-color: #1F0F39;
    
}

.fs-24px {
    font-size: 24px;
  }
  
  .fs-md-32px {
    @media (min-width: 768px) {
      font-size: 32px;
    }
  }
  
  .fs-m {
    font-size: 128px;
  }
  
  .fs-md-l {
    @media (min-width: 768px) {
      font-size: 400px;
    }
  }
 
  
.card {
    padding: 24px 12px;
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    transition: all 1s;
    background-color: rgba(0, 0, 0, 0.5);
    //超過768px就呈現↓的效果，如果是768px以下就呈現↑
    @media (min-width: 768px) {
      padding: 24px 40px 56px;
      background-color: #000000;
    }
    &:hover {
      background-color: rgb(0, 0, 0, 0.5);
    }
  }
  .vito{
    //局部CSS變數宣告
    --imageUrl: url('../assets/images/vito_vertical.png');
    --imageUrl1: url('../assets/images/vito_square2.png');
    @media (min-width: 768px) {
      background-image: var(--imageUrl);
    }
      
      background-image: var(--imageUrl1);
  }
  .diane{
      //局部CSS變數宣告
      --imageUrl: url('../assets/images/diane_vertical.png');
      background-image: var(--imageUrl);

  }
  .karina{
    //局部CSS變數宣告
    --imageUrl: url('../assets/images/karina_verticalgle.png');
    background-image: var(--imageUrl);

}
  .felix{
    //局部CSS變數宣告
    --imageUrl: url('../assets/images/felix_vertical.png');
    background-image: var(--imageUrl);

}