.background-color-1F0F39{
    background-color: #1F0F39;
    
}

.button-6E01F8-white{
    background-color: #6E01F8;
    color: white;
    width: 57%;
    border-radius: 5px;
    border: 0px;
    background-origin: padding-box;
    padding: 8px 16px 8px 16px;
}