
<div class="containter row m-md-3 mt-3">
  <div class="d-flex justify-content-center ">
    <div class="col-11 d-flex justify-content-between">
    <img src="../assets/images/hand.png" class="img-fluid imageresize30 m-md-3">
     <!-- for Computer -->
    <img src="../assets/images/screen.png" class="img-fluid imageresize30 m-md-3 d-none d-md-block">
    <img src="../assets/images/box.png" class="img-fluid imageresize30 m-md-3 d-none d-md-block">
    </div>
  </div>
  
  <p class="d-flex justify-content-center Noto-Sans-CJK-TC letter-spaing-change fw-bold  mt-md-20 mb-md-20 mt-10 mb-10 fontsChange p-md-0 ">
    ALPHABOX+
  </p>

  <div class="d-flex flex-md-row flex-column justify-content-md-around justify-content-center Noto-Sans-CJK-TC mb-md-10 ms-5">
    <p class="col-md-5 col-11">
      我們提供多款3D立體投影陪伴機器人，涵蓋知識型、娛樂型、生活型和情感型等不同類別，以滿足您的各種需求。每款產品都經過精心設計，具備高度智能化、多功能和人性化操作等特點，讓您在日常生活中獲得更便利的陪伴體驗。
    </p>
    <p class="col-md-5 col-11">
      此外，我們還提供完善的售後服務，包括　產品保固　、　技術支援　及　線上客服　協助，確保您在購買與使用過程中得到全面支持。
    </p>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col-11 divBorder p-2"></div>
  </div>
  <div class="d-flex justify-content-center mt-md-30 mb-md-30 mt-15 mb-10 pe-md-10 ps-md-10">
    <div class="d-flex flex-md-row flex-column col-11">
      <img src="../assets/images/meeting.png" class="ps-md-24 img-fluid imageresize m-md-3">
      <p class="Noto-Sans-CJK-TC d-flex align-items-center ms-md-2 pe-md-26 mt-5 mt-md-0">
        展望未來，我們將繼續投入研發，引領3D立體投影陪伴機器人技術的發展。通過結合虛擬現實、擴增現實和人工智能等領域的最新技術，我們將努力為用戶帶來更多前所未有的創新體驗。
      </p>

    </div>
    
  </div>
  <div class="background p-md-5 p-10">
    <div class="d-flex flex-md-row flex-column justify-content-center co1-10 text-white">
      <div class="col-md-7 ps-md-20 pe-md-5 ps-3 pe-3">
        我們熱忱歡迎有志之士加入我們的團隊，共同創造更美好的未來。如果您對科技充滿熱情，並擁有相關領域的專業知識，請隨時查看我們的招聘信息或與我們聯繫，讓我們攜手共進。
      </div>
      <button class="Noto-Sans-CJK-TC btnW me-md-20 pe-md-12 ps-md-12 mt-5 mt-md-0">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_5930_66" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
          <rect width="24" height="24" fill="#D9D9D9"/>
          </mask>
          <g mask="url(#mask0_5930_66)">
          <path d="M12 14C11.45 14 10.9792 13.8042 10.5875 13.4125C10.1958 13.0208 10 12.55 10 12C10 11.45 10.1958 10.9792 10.5875 10.5875C10.9792 10.1958 11.45 10 12 10C12.55 10 13.0208 10.1958 13.4125 10.5875C13.8042 10.9792 14 11.45 14 12C14 12.55 13.8042 13.0208 13.4125 13.4125C13.0208 13.8042 12.55 14 12 14ZM11 8V3H13V8H11ZM11 21V16H13V21H11ZM16 13V11H21V13H16ZM3 13V11H8V13H3Z" fill="black"/>
          </g>
          </svg>
        查看職缺       
      </button>
    </div>
    
  </div>
</div>
