<footer class="footer">


  <nav class=" navbar navbar-expand-lg">
    <div class="container-fluid justify-content-md-around">

      <div class="d-flex align-items-strat flex-column bd-highlight me-20">
        <a class="text-black Shrikhand footertext mt-md-auto mt-15 bd-highlight ps-md-5 align-items-strat text-md-center" >ALPHABOX+ </a>
        <span  class="text-black Noto-Sans-CJK-TC mb-auto bd-highlight ps-5  text-md-center d-none d-md-block">Copyright © 2023 Hexschool.</span >
    </div>
      <div class="navbar-collapse mt-5" >
        <ul class="navbar-nav ms-auto me-auto mb-auto mb-lg-0 d-flex align-items-md-center align-items-strat ">
          <img src="../assets/images/emergency.png" alt="emergency_icon" class="black ms-3 footericon"> 
        </ul>
        <ul class="navbar-nav d-flex align-items-md-center align-items-strat">
          <li class="nav-item ms-3">
            <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold" href="about_us.html">關於我們 </a>
          </li>
          <li class="nav-item ms-3">
          <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold" href="product.html">產品資訊</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold" href="news.html">常見問題</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold" href="faq.html">隱私政策 </a>
          </li>
          <li class="nav-item ms-3 d-block d-sm-block d-md-none">
            <div class="nav-link text-black Noto-Sans-CJK-TC fw-bold">Copyright © 2023 Hexschool. </div>
          </li>
      </ul>
    </div>
    </div>
  </nav>
</footer>







