<footer >
  <nav class="footer navbar navbar-expand-lg ">

    <div class="container justify-content-md-evenly">
      <div class="d-flex flex-column justify-content-md-center">
        <a class="Shrikhand text-black footertext collapse navbar-collapse" href="index.html">ALPHABOX+</a>
        <span  class="text-black Noto-Sans-CJK-TC collapse navbar-collapse">Copyright © 2023 Hexschool.</span >
      </div>
      
      <div class="collapse navbar-collapse justify-content-md-end ms-md-18">
        <ul class="navbar-nav mb-auto mb-lg-0 align-items-center ps-md-20">
          <li class="nav-item ms-3 ">
            <div > </div>
          </li>
          <li class="nav-item ms-3">
           <div > </div>
         </li>
         <li class="nav-item ms-3">
          <img src="../assets/images/emergency.png" alt="emergency_icon" class="black footericon">
         </li>
         <li class="nav-item ms-3">
           <div> </div>
         </li>
         <li class="nav-item ms-3">
          <div > </div>
         </li>
        </ul>
    </div>
  
    <div class="collapse navbar-collapse justify-content-md-end" >
      <ul class="navbar-nav d-flex align-items-md-center align-items-center">
        <li class="nav-item ms-md-3">
          <div> </div>
        </li>
        <li class="nav-item ms-md-3">
          <div> </div>
        </li>
        <li class="nav-item ms-md-3">
          <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold text-nowrap" href="about_us.html">關於我們 </a>
        </li>
        <li class="nav-item ms-md-3">
          <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold text-nowrap" href="product.html">產品資訊</a>
        </li>
        <li class="nav-item ms-md-3">
          <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold text-nowrap" href="news.html">常見問題</a>
        </li>
        <li class="nav-item ms-md-3">
          <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold text-nowrap" href="faq.html">隱私政策 </a>
        </li>
        <li class="nav-item ms-md-3 d-block d-sm-block d-md-none">
          <div class="nav-link text-black Noto-Sans-CJK-TC fw-bold">Copyright © 2023 Hexschool. </div>
        </li>
      </ul>
    </div>
  
  </div>


  <div class="navbar-toggler justify-content-md-end " >
    <ul class="navbar-nav d-flex align-items-start  m-3">
      <li class="nav-item">
        <div><a class="Shrikhand text-black footertext" href="index.html">ALPHABOX+</a> </div>
      </li>
      <li class="nav-item mt-3">
        <div> <img src="../assets/images/emergency.png" alt="emergency_icon" class="black footericon"></div>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold fs-4 text-nowrap" href="about_us.html">關於我們 </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold fs-4 text-nowrap" href="product.html">產品資訊</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold fs-4 text-nowrap" href="news.html">常見問題</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold fs-4 text-nowrap" href="faq.html">隱私政策 </a>
      </li>
      <li class="nav-item">
        <div class="nav-link text-black Noto-Sans-CJK-TC fs-4 fw-bold">Copyright © 2023 Hexschool. </div>
      </li>
    </ul>
  </div>

</div>

  </nav>
  
</footer>








