<footer>
  <nav class="footer navbar navbar-expand-lg">
    <div class="container justify-content-md-around mt-md-5 mb-5">

        <div class="d-flex align-items-strat flex-column bd-highlight">
          <a class="text-black Shrikhand footertext mt-md-auto mt-15 bd-highlight align-items-strat text-md-center" >ALPHABOX+ </a>
          <span  class="text-black Noto-Sans-CJK-TC mb-auto bd-highlight text-md-center d-none d-md-block">Copyright © 2023 Hexschool.</span >
        </div>
        
        <div class="navbar-collapse justify-content-md-end ms-md-20 mt-5 mb-1 mt-md-0 mb-md-0" >
          <ul class="navbar-nav mb-auto mb-lg-0 align-items-md-end align-items-strat ms-3">
            
            <li class="nav-item ms-md-25">
              <img src="../assets/images/emergency.png" alt="emergency_icon" class="black ms-3 footericon">
            </li>
           
          </ul>
        </div>
      
      <div class="navbar-collapse justify-content-md-center ps-md-10 ms-md-20" >
        <ul class="navbar-nav d-flex align-items-md-center align-items-strat">
          <li class="nav-item ms-3">
            <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold" href="about_us.html">關於我們 </a>
          </li>
          <li class="nav-item ms-3">
          <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold" href="product.html">產品資訊</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold" href="news.html">常見問題</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link text-black Noto-Sans-CJK-TC fw-bold" href="faq.html">隱私政策 </a>
          </li>
          <li class="nav-item ms-3 d-block d-sm-block d-md-none">
            <div class="nav-link text-black Noto-Sans-CJK-TC fw-bold">Copyright © 2023 Hexschool. </div>
          </li>
      </ul>
    </div>
    </div>
  </nav>
</footer>







