
<div class="bg-primary-dark">
  <div class="p-md-20 p-5 d-flex justify-content-md-center">
      <div class="row">
          <h1 class="letter-spaing-1em fw-bold text-white text-center mb-5">最新消息</h1>
          <!-- 一組 -->
            <div class="d-md-flex d-flex-colums mt-md-5 mb-md-5 justify-content-md-center">
                <div class="d-flex align-items-center mb-5 justify-content-between">
                  <div class="text-white fs-md-36 fs-30 Saira_ExtraCondensed me-md-10 ms-5">1</div>
                  <span class="col-md-2 imageSize d-none d-md-block">
                    <img src="../assets/images/news/news.png" class="img-fluid">
                  </span>

                  <span class="col-9 imageSizeMobile d-block d-md-none">
                    <img src="../assets/images/mobile/news_mobile.png" class="img-fluid">
                  </span>
                </div>
              

                <div class="p-5 col-md-6 col-12 border-bottom border-top text-white ms-md-7 me-md-5 pt-md-10 pb-md-10">
                    <div class="d-flex">
                      <img src="../assets/images/emergency.png" alt="emergency_icon" class="icon me-3 img-fluid" >
                      <p class="letter-spaing-1em col-3 Noto-Sans-CJK-TC fs-4">2023.06.30</p> 
                    </div>
                    <h3 class="letter-spaing-1em fw-bold fonts-20">產品升級公告</h3>
                    <p>親愛的客戶們：</p>
                    <p>
                      我們榮幸地向您宣布，經過不懈的努力與研發，ALPHABOX+ 已成功完成最新一代的升級！這次的升級將為您帶來更高的投影解析度、更精準的語音辨識技術，以及更豐富的情感識別功能。我們致力於為您打造最佳的陪伴機器人，讓科技更貼近您的生活。
                    </p>
                    <p>
                      在這次升級中，我們提升了投影解析度，讓影像更加清晰細緻，呈現出更真實的視覺效果。您將能夠更加享受在家中觀看高清影片或欣賞美景的樂趣。同時，我們優化了語音辨識技術，使機器人能更迅速且準確地識別您的聲音指令，提高互動體驗。
                    </p>
                    <p>
                      此外，我們增加了情感識別功能，使得機器人能更好地理解您的情緒，並根據您的需求提供適當的陪伴與支持。無論您需要傾聽、建議還是安慰，ALPHABOX+ 都將成為您身邊的貼心夥伴。
                    </p>
                    <p>
                      為感謝您一直以來對我們的支持，我們將在本月舉辦限時優惠活動，凡購買升級版3D立體投影陪伴機器人的客戶，均可享有九折優惠。機會難得，千萬不要錯過喔！
                    </p>
                    <p>
                      在未來的日子裡，我們將繼續投入研發，並積極採納用戶意見，以不斷完善產品功能並提高使用體驗。同時，我們承諾會為您提供優質的售後服務，確保您在購買與使用過程中得到全面支持。
                    </p>
                    <p>
                      再次感謝您對我們的信任與支持，讓我們攜手共創更美好的未來！若您對升級版3D立體投影陪伴機器人有任何疑問或建議，請隨時與我們的客服團隊聯繫，我們將竭誠為您解答。
                    </p>
                    <p>敬祝 興旺發達！</p>
                    <p>
                      ALPHABOX+ 團隊敬上 
                    </p>
                </div>
                <div class="col-md-1 co1-12 d-flex justify-content-md-start justify-content-end align-items-end m-md-0 mt-3">
                  <a href="#">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="mask0_321_5981" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                      <rect width="40" height="40" fill="#D9D9D9"/>
                      </mask>
                      <g mask="url(#mask0_321_5981)">
                      <path d="M19.9999 32.6923L18.2179 30.9359L27.9038 21.25H7.30762V18.75H27.9038L18.2179 9.06413L19.9999 7.30775L32.6921 20L19.9999 32.6923Z" fill="white"/>
                      </g>
                      </svg>
                  </a>
                </div>
            </div>
            <!-- 一組 -->
            
           
      </div>
  </div>
</div>
