
<div class="bg-primary-dark">
  <div class="p-md-20 p-5 d-flex justify-content-md-center">
      <div class="row">
          <h1 class="fonts letter-spaing-1em fw-bold text-white text-md-center text-md-start mb-md-5 mb-10 mt-10">最新消息</h1>
          <!-- 一組 -->
            <div class="d-md-flex d-flex-colums mt-md-5 mb-md-5 justify-content-md-center">
                <div class="d-flex align-items-center mb-5 justify-content-between">
                  <div class="text-white fs-md-36 fs-30 Saira_ExtraCondensed me-md-10 Saira_ExtraCondensed">1</div>
                  <span class="col-md-2 imageSize d-none d-md-block">
                    <img src="../assets/images/news/news.png" class="img-fluid">
                  </span>

                  <span class="col-9 imageSizeMobile d-block d-md-none">
                    <img src="../assets/images/mobile/news_mobile.png" class="img-fluid">
                  </span>
                </div>

                <div class="p-5 col-md-6 col-12 border-bottom border-top text-white ms-md-7 me-md-5 pt-md-10 pb-md-10">
                    <div class="d-flex">
                      <img src="../assets/images/emergency.png" alt="emergency_icon" class="icon me-3 img-fluid" >
                      <p class="letter-spaing-1em col-3 Noto-Sans-CJK-TC fs-4">2023.06.30</p> 
                    </div>
                    <h3 class="letter-spaing-1em fw-bold fonts-20">產品升級公告</h3>
                    <p class="Noto-Sans-CJK-TC">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
                </div>
                <div class="col-md-1 co1-12 d-flex justify-content-md-start justify-content-end align-items-end m-md-0 mt-3 mb-10">
                  <a href="news_cp.html">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="mask0_321_5981" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                      <rect width="40" height="40" fill="#D9D9D9"/>
                      </mask>
                      <g mask="url(#mask0_321_5981)">
                      <path d="M19.9999 32.6923L18.2179 30.9359L27.9038 21.25H7.30762V18.75H27.9038L18.2179 9.06413L19.9999 7.30775L32.6921 20L19.9999 32.6923Z" fill="white"/>
                      </g>
                      </svg>
                  </a>
                </div>
            </div>
            <!-- 一組 -->
            <!-- 一組 -->
              <div class="d-md-flex d-flex-colums mt-md-5 mb-md-5 justify-content-md-center">
                  <div class="d-flex align-items-center mb-5 justify-content-between">
                    <div class="text-white fs-md-36 fs-30 Saira_ExtraCondensed me-md-10 ms-5 Saira_ExtraCondensed">2</div>
                    <span class="col-md-2 imageSize d-none d-md-block">
                      <img src="../assets/images/news/thanks.png" class="img-fluid">
                    </span>

                    <span class="col-9 imageSizeMobile d-block d-md-none">
                      <img src="../assets/images/mobile/thanks_mobile.png" class="img-fluid">
                    </span>
                  </div>
                  
                  <div class="p-5 col-md-6 col-12 border-bottom border-top text-white ms-md-7 me-md-5 pt-md-10 pb-md-10">
                      <div class="d-flex">
                        <img src="../assets/images/emergency.png" alt="emergency_icon" class="icon me-3 img-fluid" >
                        <p class="letter-spaing-1em col-3 Noto-Sans-CJK-TC fs-4">2023.06.01</p> 
                      </div>
                      <h3 class="letter-spaing-1em fw-bold fonts-20">限時優惠活動</h3>
                      <p class="Noto-Sans-CJK-TC">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。購買 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！本月將舉辦一場限時優惠活動。購買 ALPHABOX+ 的顧客，皆可享受九折優惠。</p>
                  </div>
                  <div class="col-md-1 co1-12 d-flex justify-content-md-start justify-content-end align-items-end m-md-0 mt-3 mb-10">
                    <a href="#">
                      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_321_5981" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                        <rect width="40" height="40" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_321_5981)">
                        <path d="M19.9999 32.6923L18.2179 30.9359L27.9038 21.25H7.30762V18.75H27.9038L18.2179 9.06413L19.9999 7.30775L32.6921 20L19.9999 32.6923Z" fill="white"/>
                        </g>
                        </svg>
                    </a>
                  </div>
              </div>
              <!-- 一組 --> 
              <!-- 一組 -->
              <div class="d-md-flex d-flex-colums mt-md-5 mb-md-5 justify-content-md-center">
                <div class="d-flex align-items-center mb-5 justify-content-between">
                  <div class="text-white fs-md-36 fs-30 Saira_ExtraCondensed me-md-10 ms-5 Saira_ExtraCondensed">3</div>
                  <span class="col-md-2 imageSize d-none d-md-block">
                    <img src="../assets/images/news/exhibition.png" class="img-fluid">
                  </span>

                  <span class="col-9 imageSizeMobile d-block d-md-none">
                    <img src="../assets/images/mobile/exhibition_mobile.png" class="img-fluid">
                  </span>
                </div>
                
                <div class="p-5 col-md-6 col-12 border-bottom border-top text-white ms-md-7 me-md-5 pt-md-10 pb-md-10">
                    <div class="d-flex">
                      <img src="../assets/images/emergency.png" alt="emergency_icon" class="icon me-3 img-fluid" >
                      <p class="letter-spaing-1em col-3 Noto-Sans-CJK-TC fs-4">2023.06.30</p> 
                    </div>
                    <h3 class="letter-spaing-1em fw-bold fonts-20">參加科技展覽</h3>
                    <p class="Noto-Sans-CJK-TC">本公司將參與今年的台灣國際科技展覽，屆時將展示最新款的3D立體陪伴機器人。誠摯邀請您親臨現場，親自體驗這款創新的產品！屆時將展示最新款的3D立體陪伴機器人。誠摯邀請您親臨現場，親自體驗這款創新的產品！</p>
                </div>
                <div class="col-md-1 co1-12 d-flex justify-content-md-start justify-content-end align-items-end m-md-0 mt-3 mb-10">
                  <a href="#">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="mask0_321_5981" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                      <rect width="40" height="40" fill="#D9D9D9"/>
                      </mask>
                      <g mask="url(#mask0_321_5981)">
                      <path d="M19.9999 32.6923L18.2179 30.9359L27.9038 21.25H7.30762V18.75H27.9038L18.2179 9.06413L19.9999 7.30775L32.6921 20L19.9999 32.6923Z" fill="white"/>
                      </g>
                      </svg>
                  </a>
                </div>
            </div>
            <!-- 一組 --> 
            <!-- 一組 -->
            <div class="d-md-flex d-flex-colums mt-md-5 mb-md-5 justify-content-md-center">
              <div class="d-flex align-items-center mb-5 justify-content-between">
                <div class="text-white fs-md-36 fs-30 Saira_ExtraCondensed me-md-10 ms-5 Saira_ExtraCondensed">4</div>
                <span class="col-md-2 imageSize d-none d-md-block">
                  <img src="../assets/images/news/update.png" class="img-fluid">
                </span>

                <span class="col-9 imageSizeMobile d-block d-md-none">
                  <img src="../assets/images/mobile/update_mobile.png" class="img-fluid">
                </span>
              </div>
              
              <div class="p-5 col-md-6 col-12 border-bottom border-top text-white ms-md-7 me-md-5 pt-md-10 pb-md-10">
                  <div class="d-flex">
                    <img src="../assets/images/emergency.png" alt="emergency_icon" class="icon me-3 img-fluid" >
                    <p class="letter-spaing-1em col-3 Noto-Sans-CJK-TC fs-4">2023.06.30</p> 
                  </div>
                  <h3 class="letter-spaing-1em fw-bold fonts-20">新功能上線</h3>
                  <p class="Noto-Sans-CJK-TC">為使您的3D立體陪伴機器人更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。近期，我們新推出智慧家居控制功能。</p>
              </div>
              <div class="col-md-1 co1-12 d-flex justify-content-md-start justify-content-end align-items-end m-md-0 mt-3 mb-10">
                <a href="#">
                  <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_321_5981" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                    <rect width="40" height="40" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_321_5981)">
                    <path d="M19.9999 32.6923L18.2179 30.9359L27.9038 21.25H7.30762V18.75H27.9038L18.2179 9.06413L19.9999 7.30775L32.6921 20L19.9999 32.6923Z" fill="white"/>
                    </g>
                    </svg>
                </a>
              </div>
          </div>
          <!-- 一組 --> 
           <!-- 一組 -->
           <div class="d-md-flex d-flex-colums mt-md-5 mb-md-5 justify-content-md-center">
            <div class="d-flex align-items-center mb-5 justify-content-between">
              <div class="text-white fs-md-36 fs-30 Saira_ExtraCondensed me-md-10 ms-5 Saira_ExtraCondensed">5</div>
              <span class="col-md-2 imageSize d-none d-md-block">
                <img src="../assets/images/news/interview.png" class="img-fluid">
              </span>

              <span class="col-9 imageSizeMobile d-block d-md-none">
                <img src="../assets/images/mobile/interview_mobile.png" class="img-fluid">
              </span>
            </div>
            
            <div class="p-5 col-md-6 col-12 border-bottom border-top text-white ms-md-7 me-md-5 pt-md-10 pb-md-10">
                <div class="d-flex">
                  <img src="../assets/images/emergency.png" alt="emergency_icon" class="icon me-3 img-fluid" >
                  <p class="letter-spaing-1em col-3 Noto-Sans-CJK-TC fs-4">2023.06.30</p> 
                </div>
                <h3 class="letter-spaing-1em fw-bold fonts-20">用戶見面會</h3>
                <p class="Noto-Sans-CJK-TC">為進一步滿足客戶需求，並優化產品性能，我們將舉行用戶見面會。屆時，我們將向您展示我們的研發成果，同時聆聽您的意見和建議，讓我們共同打造更完美的產品！同時聆聽您的意見和建議！</p>
            </div>
            <div class="col-md-1 co1-12 d-flex justify-content-md-start justify-content-end align-items-end m-md-0 mt-3 mb-10">
              <a href="#">
                <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="mask0_321_5981" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                  <rect width="40" height="40" fill="#D9D9D9"/>
                  </mask>
                  <g mask="url(#mask0_321_5981)">
                  <path d="M19.9999 32.6923L18.2179 30.9359L27.9038 21.25H7.30762V18.75H27.9038L18.2179 9.06413L19.9999 7.30775L32.6921 20L19.9999 32.6923Z" fill="white"/>
                  </g>
                  </svg>
              </a>
            </div>
        </div>
        <!-- 一組 --> 
      </div>
  </div>
</div>
