
<div class="bg-primary-dark">
  <div class="pb-md-20 pt-md-20 pe-md-20 ps-md-0 p-5 d-flex justify-content-md-center">
      <div class="row">
            <!-- 一組 -->
            <!-- for Mobile -->
            <h1 class="fonts letter-spaing-1em fw-bold text-white mb-10 mt-10 d-block d-md-none">最新消息</h1>
            <!-- for Mobile -->
            <div class="d-md-flex d-flex-colums mt-md-5 mb-md-5 justify-content-md-center">
                <div class="d-flex align-items-center">
                  <div class=" text-md-end mb-md-0 mb-10">
                    <a href="news.html" class="d-flex align-items-center mt-md-5 mb-md-2 ms-md-0 ms-md-10 offset-md-3 ">
                      <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" >
                        <mask id="mask0_364_6418" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                        <rect width="40" height="40" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_364_6418)">
                        <path d="M29.6855 28.814L12.8523 12.0127V27.4998H11.1855V9.1665H29.5189V10.8332H14.0317L30.833 27.6665L29.6855 28.814Z" fill="white"/>
                        </g>
                      </svg>
                      <div class="text-white Noto-Sans-CJK-TC text-md-end">返回</div>
                    </a>
                    <img src="../assets/images/news/news_in.png" class="img-fluid imageresize">
                  </div>
                  
                </div>
              <div>
                  <h1 class="fonts letter-spaing-1em fw-bold text-white text-md-start ms-md-7 mb-md-5 mb-10 mt-10 d-none d-md-block">最新消息</h1>
                  <div class="pt-md-5 pb-md-5 border-bottom border-top text-white ms-md-7 me-md-5 pt-md-10 pb-md-5 Noto-Sans-CJK-TC">
                    <div class="d-flex mt-6 m-md-0">
                      <img src="../assets/images/emergency.png" alt="emergency_icon" class="icon me-3 img-fluid" >
                      <p class="letter-spaing-1em col-3 fs-4">2023.06.30</p> 
                    </div>
                    <h3 class="letter-spaing-1em fs-4">產品升級公告</h3>
                    <p>親愛的客戶們：</p>
                      <p>
                        我們榮幸地向您宣布，經過不懈的努力與研發，ALPHABOX+ 已成功完成最新一代的升級！這次的升級將為您帶來更高的投影解析度、更精準的語音辨識技術，以及更豐富的情感識別功能。我們致力於為您打造最佳的陪伴機器人，讓科技更貼近您的生活。
                      </p>
                      <p>
                        在這次升級中，我們提升了投影解析度，讓影像更加清晰細緻，呈現出更真實的視覺效果。您將能夠更加享受在家中觀看高清影片或欣賞美景的樂趣。同時，我們優化了語音辨識技術，使機器人能更迅速且準確地識別您的聲音指令，提高互動體驗。
                      </p>
                      <p>
                        此外，我們增加了情感識別功能，使得機器人能更好地理解您的情緒，並根據您的需求提供適當的陪伴與支持。無論您需要傾聽、建議還是安慰，ALPHABOX+ 都將成為您身邊的貼心夥伴。
                      </p>
                      <p>
                        為感謝您一直以來對我們的支持，我們將在本月舉辦限時優惠活動，凡購買升級版3D立體投影陪伴機器人的客戶，均可享有九折優惠。機會難得，千萬不要錯過喔！
                      </p>
                      <p>
                        在未來的日子裡，我們將繼續投入研發，並積極採納用戶意見，以不斷完善產品功能並提高使用體驗。同時，我們承諾會為您提供優質的售後服務，確保您在購買與使用過程中得到全面支持。
                      </p>
                      <p>
                        再次感謝您對我們的信任與支持，讓我們攜手共創更美好的未來！若您對升級版3D立體投影陪伴機器人有任何疑問或建議，請隨時與我們的客服團隊聯繫，我們將竭誠為您解答。
                      </p>
                      <p>敬祝 興旺發達！</p>
                      <p>
                        ALPHABOX+ 團隊敬上 
                      </p>
                  </div>
                  <a href="#" class="d-flex justify-content-between ms-md-7 me-md-5 pt-5 pb-md-5">
                      <svg width="155" height="24" viewBox="0 0 155 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_364_6371" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                        <rect x="155" y="24" width="155" height="24" transform="rotate(-180 155 24)" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_364_6371)">
                        <path d="M13 4.99999L9.575 11L153 11L153 13L9.575 13L13 19L2 12L13 4.99999Z" fill="white"/>
                        </g>
                      </svg>
                        
                        <svg width="155" height="24" viewBox="0 0 155 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <mask id="mask0_364_6359" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
                          <rect width="155" height="24" fill="#828282"/>
                          </mask>
                          <g mask="url(#mask0_364_6359)">
                          <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z" fill="#828282"/>
                          </g>
                        </svg>
                  </a>
                  <a href="#" class="letter-spaing-075em Noto-Sans-CJK-TC fs-4 text-white ms-md-7 me-md-5 pe-md-10 d-none d-md-block">限時優惠活動</a>
                  <!-- for Mobile -->
                  <a href="#" class="Noto-Sans-CJK-TC fs-4 text-white ms-md-7 me-md-5 pe-md-10 d-block d-md-none">上一則</a>
              </div>
              
              
            </div>
            <!-- 一組 -->


           
      </div>
  </div>
</div>
