
<div class="bg-primary-dark">
  <div class="p-md-20 p-5 d-flex justify-content-md-center">
      <div class="row">
          <h1 class="letter-spaing-1em fw-bold text-white text-center mb-5">最新消息</h1>
          <!-- 一組 -->
            <div class="d-md-flex d-flex-colums mt-md-5 mb-md-5 justify-content-md-center">
                <div class="d-flex align-items-center mb-5 justify-content-between">
                  <div class="text-white fs-md-36 fs-30 Saira_ExtraCondensed me-md-10 ms-5">1</div>
                  <span class="col-md-2 imageSize d-none d-md-block">
                    <img src="../assets/images/news/news.png" class="img-fluid">
                  </span>

                  <span class="col-9 imageSizeMobile d-block d-md-none">
                    <img src="../assets/images/mobile/news_mobile.png" class="img-fluid">
                  </span>
                </div>
              

                <div class="p-5 col-md-6 col-12 border-bottom border-top text-white ms-7 me-5 pt-10 pb-10">
                    <div class="d-flex">
                      <img src="../assets/images/emergency.png" alt="emergency_icon" class="icon me-3 img-fluid" >
                      <p class="letter-spaing-1em col-3 Noto-Sans-CJK-TC fs-4">2023.06.30</p> 
                    </div>
                    <h3 class="letter-spaing-1em fw-bold fonts-20">產品升級公告</h3>
                    <p>榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
                </div>
                <div class="col-md-1 co1-12 d-flex justify-content-end align-items-end ">
                  <a href="#">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <mask id="mask0_321_5981" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="40" height="40">
                      <rect width="40" height="40" fill="#D9D9D9"/>
                      </mask>
                      <g mask="url(#mask0_321_5981)">
                      <path d="M19.9999 32.6923L18.2179 30.9359L27.9038 21.25H7.30762V18.75H27.9038L18.2179 9.06413L19.9999 7.30775L32.6921 20L19.9999 32.6923Z" fill="white"/>
                      </g>
                      </svg>
                  </a>
                </div>
            </div>
            <!-- 一組 -->
            
           
      </div>
  </div>
</div>
