<!-- banner區塊 -->
<ul class="nav nav-pills row justify-content-center bg-dark p-3" role="tablist">
    <li class="nav-item col-2" role="presentation">
        <button class="nav-link border border-white active" id="pills-diane-tab" data-bs-toggle="pill" data-bs-target="#pills-diane" type="button" role="tab" aria-controls="pills-diane" aria-selected="true">Diane</button>
    </li>
    <li class="nav-item col-2">
        <button class="nav-link border border-white" id="pills-felix-tab" data-bs-toggle="pill" data-bs-target="#pills-felix" type="button" role="tab" aria-controls="pills-felix" aria-selected="false">Felix</button>
    </li>
    <li class="nav-item col-2">
        <button class="nav-link border border-white" id="pills-karina-tab" data-bs-toggle="pill" data-bs-target="#pills-karina" type="button" role="tab" aria-controls="pills-karina" aria-selected="false">Karina</button>
    </li>
    <li class="nav-item col-2">
        <button class="nav-link border border-white" id="pills-vito-tab" data-bs-toggle="pill" data-bs-target="#pills-vito" type="button" role="tab" aria-controls="pills-vito" aria-selected="false">Vito</button>
    </li>
</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-diane-tab" id="pills-diane">
        <div class="row d-flex align-items-center bg-dark text-white">
            <div class="col-6">
                <div id="carousel_diane" class="carousel slide bg-dark text-white" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <!-- 第一頁 -->
                        <img src="../assets/images/diane_square1.png" class="d-block w-100" alt="diane1">
                      </div>
                      <div class="carousel-item">
                        <!-- 第二頁 -->
                        <img src="../assets/images/diane_square2.png" class="d-block w-100" alt="diane2">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_diane" data-bs-slide="prev">
                        <!--  左箭頭  -->
                        <span class="material-symbols-outlined" aria-hidden="true">arrow_back</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel_diane" data-bs-slide="next">
                        <!--  右箭頭  -->
                        <span class="material-symbols-outlined" aria-hidden="true">arrow_forward</span>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column align-items-start justify-content-center">
                    <h3 class="lh-base text-md-end mb-3">
                        <span class="regular fs-16">Diane</span>
                    </h3>
                    <p class="mb-0 font-bold">知識型</p>
                    <p class="mb-0">學術領導/知識分享/智能問答</p>
                    <a href="login.html"><img src="../assets/images/line_end_arrow_notch_long.png" alt="" class="image-fluid"></a>
                </div>
            </div>
            <div class="position-relative">
                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                    <img src="../assets/images/product_banner.png" alt="product_banner" class="image-fluid">
                </div>
            </div>
        </div>
        <%- include('./layout/product/diane'); -%>
    </div>
    <div class="tab-pane fade" id="pills-felix" role="tabpanel" aria-labelledby="pills-felix-tab">
        <div class="row d-flex align-items-center bg-dark text-white">
            <div class="col-6">
                <div id="carousel_felix" class="carousel slide bg-dark text-white" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <!-- 第一頁 -->
                        <img src="../assets/images/felix_square1.png" class="d-block w-100" alt="felix1">
                      </div>
                      <div class="carousel-item">
                        <!-- 第二頁 -->
                        <img src="../assets/images/felix_square2.png" class="d-block w-100" alt="felix2">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_felix" data-bs-slide="prev">
                        <!--  左箭頭  -->
                        <span class="material-symbols-outlined" aria-hidden="true">arrow_back</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel_felix" data-bs-slide="next">
                        <!--  右箭頭  -->
                        <span class="material-symbols-outlined" aria-hidden="true">arrow_forward</span>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column align-items-start justify-content-center">
                    <h3 class="lh-base text-md-end mb-3">
                        <span class="regular fs-16">Fleix</span>
                    </h3>
                    <p class="mb-0 font-bold">娛樂型</p>
                    <p class="mb-0">音樂播放/語音互動/遊戲陪伴</p>
                    <a href="login.html"><img src="../assets/images/line_end_arrow_notch_long.png" alt="" class="image-fluid"></a>
                </div>
            </div>
            <div class="position-relative">
                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                    <img src="../assets/images/product_banner.png" alt="product_banner" class="image-fluid">
                </div>
            </div>
        </div>
        <%- include('./layout/product/felix'); -%>
    </div>
    <div class="tab-pane fade" id="pills-karina" role="tabpanel" aria-labelledby="pills-karina-tab">
        <div class="row d-flex align-items-center bg-dark text-white">
            <div class="col-6">
                <div id="carousel_karina" class="carousel slide bg-dark text-white" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <!-- 第一頁 -->
                        <img src="../assets/images/karina_square1.png" class="d-block w-100" alt="karina1">
                      </div>
                      <div class="carousel-item">
                        <!-- 第二頁 -->
                        <img src="../assets/images/karina_square2.png" class="d-block w-100" alt="karina2">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_karina" data-bs-slide="prev">
                        <!--  左箭頭  -->
                        <span class="material-symbols-outlined" aria-hidden="true">arrow_back</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel_karina" data-bs-slide="next">
                        <!--  右箭頭  -->
                        <span class="material-symbols-outlined" aria-hidden="true">arrow_forward</span>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column align-items-start justify-content-center">
                    <h3 class="lh-base text-md-end mb-3">
                        <span class="regular fs-16">Karina</span>
                    </h3>
                    <p class="mb-0 font-bold">知識型</p>
                    <p class="mb-0">學術領導/知識分享/智能問答</p>
                    <a href="login.html"><img src="../assets/images/line_end_arrow_notch_long.png" alt="" class="image-fluid"></a>
                </div>
            </div>
            <div class="position-relative">
                <div class="position-absolute bottom-0 start-50 translate-middle-x">
                    <img src="../assets/images/product_banner.png" alt="product_banner" class="image-fluid">
                </div>
            </div>
        </div>
        <%- include('./layout/product/karina'); -%>
    </div>
    <div class="tab-pane fade" id="pills-vito" role="tabpanel" aria-labelledby="pills-vito-tab">
        <div class="row d-flex align-items-center bg-dark text-white">
            <div class="col-6">
                <div id="carousel_vito" class="carousel slide bg-dark text-white" data-bs-touch="false" data-bs-interval="false">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <!-- 第一頁 -->
                        <img src="../assets/images/vito_square1.png" class="d-block w-100" alt="vito1">
                      </div>
                      <div class="carousel-item">
                        <!-- 第二頁 -->
                        <img src="../assets/images/vito_square2.png" class="d-block w-100" alt="vito2">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel_vito" data-bs-slide="prev">
                        <!--  左箭頭  -->
                        <span class="material-symbols-outlined" aria-hidden="true">arrow_back</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel_vito" data-bs-slide="next">
                        <!--  右箭頭  -->
                        <span class="material-symbols-outlined" aria-hidden="true">arrow_forward</span>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column align-items-start justify-content-center">
                    <h3 class="lh-base text-md-end mb-3">
                        <span class="regular fs-16">Vito</span>
                    </h3>
                    <p class="mb-0 font-bold">生活型</p>
                    <p class="mb-0">健康提醒/日程安排/智能家居</p>
                    <a href="login.html"><img src="../assets/images/line_end_arrow_notch_long.png" alt="" class="image-fluid"></a>
                </div>
            </div>
        </div>
        <div class="position-relative">
            <div class="position-absolute bottom-0 start-50 translate-middle-x">
                <img src="../assets/images/product_banner.png" alt="product_banner" class="image-fluid">
            </div>
        </div>
        <%- include('./layout/product/vito'); -%>
    </div>
</div>
<!-- banner區塊 -->