<div class="container-fluid">
  

<!-- 區塊開始 -->

<ul class="list-unstyled d-flex row">
  <!-- Diane -->
 <li class="col-md-3 col-lg-3 col-6 p-0">
   <a href="#" class="card diane border-0 rounded-0">
     <h4 class="Saira_ExtraCondensed text-white d-flex flex-column align-items-center fs-24px fs-md-32px mb-18 mb-md-80">
       <span class="font-Saira fs-m fs-md-l fw-light mb-16 mb-md-20 mt-16">1</span>
       Diane
     </h4>
     <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
       <div class="text-white">
         <h5 class="h6 fw-bold mb-0">知識型</h5>
         <p class="mb-0">學術領導/知識分享/智能問答</p>
       </div>
       <img src="../assets/images/ByjLe2_3h.png" alt="arrow" class="img-fluid">
     </div>
   </a>
 </li>
<!-- Felix -->
<li class="col-md-3 col-lg-3 col-6 p-0">
 <a href="#" class="card felix border-0 rounded-0">
   <h4 class="Saira_ExtraCondensed text-white d-flex flex-column align-items-center fs-24px fs-md-32px mb-18 mb-md-80">
     <span class="font-Saira fs-m fs-md-l fw-light mb-16 mb-md-20 mt-16">2</span>
     Felix
   </h4>
   <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
     <div class="text-white">
       <h5 class="h6 fw-bold mb-0">娛樂型</h5>
       <p class="mb-0">音樂播放/語音互動/遊戲陪伴</p>
     </div>
     <img src="../assets/images/ByjLe2_3h.png" alt="arrow" class="img-fluid">
   </div>
 </a>
</li>
<!-- Karina -->
<li class="col-md-3 col-lg-3 col-6 p-0">
 <a href="#" class="card karina border-0 rounded-0">
   <h4 class="Saira_ExtraCondensed text-white d-flex flex-column align-items-center fs-24px fs-md-32px mb-18 mb-md-80">
     <span class="font-Saira fs-m fs-md-l fw-light mb-16 mb-md-20 mt-16">3</span>
     Karina
   </h4>
   <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
     <div class="text-white">
       <h5 class="h6 fw-bold mb-0">生活型</h5>
       <p class="mb-0">健康提醒/日程安排/智能家居</p>
     </div>
     <img src="../assets/images/ByjLe2_3h.png" alt="arrow" class="img-fluid">
   </div>
 </a>
</li>
 
<!-- vito -->
 <li class="col-md-3 col-lg-3 col-6 p-0">
   <a href="#" class="card vito border-0 rounded-0">
     <h4 class="Saira_ExtraCondensed text-white d-flex flex-column align-items-center fs-24px fs-md-32px mb-18 mb-md-80">
       <span class="font-Saira fs-m fs-md-l fw-light mb-16 mb-md-20 mt-16">4</span>
       Vito
     </h4>
     <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
       <div class="text-white">
         <h5 class="h6 fw-bold mb-0">情感型</h5>
         <p class="mb-0">情感識別/心情分析/心靈支持</p>
       </div>
       <img src="../assets/images/ByjLe2_3h.png" alt="arrow" class="img-fluid">
     </div>
   </a>
 </li>
</ul>
<!-- 區塊結束 -->


</div>
