<div class="background-color-1F0F39 pt-10 pb-10">
    <div class="container text-white">
        <div class="row align-items-center d-flex flex-row">
            <div class="col-5">
              <h2 class="font-bold">聯絡我們</h2>
              <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2">
                <circle cx="6" cy="6" r="6" fill="white" />
                </svg>
                <svg width="124" height="12" viewBox="0 0 124 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line x1="6" y1="6" x2="118" y2="6" stroke="white" stroke-width="12" stroke-linecap="round"/>
                    </svg>
                <div class="mt-10">
                    <p class="lh-1">讓科技成為您的最佳夥伴</p>
                    <p class="lh-1">立即體驗神奇功能並享限時優惠！</p>
                </div>
            </div>
            <!-- 右半邊 -->
            <div class="col-7">
                <img src="../assets/images/emergency.png" alt="emergency_icon" class="img-fluid mb-3"> 

                <!-- 浮動標籤 -->
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Comments" id="floatingTextarea2" style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                  </div>
                </div>
        </div>

    </div>
</div>
