<div class="container text-white mt-3">
    <h2 class="mb-3">使用分享</h2>
  </div>
  <div class="overflow-hidden">
    <div class="container">
      <div class="swiper">
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide shareCard bg-primary-dark text-white">
            <p>
              ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
            </p>
          </div>
          <div class="swiper-slide shareCard bg-white">
            <p>
              ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
            </p>
          </div>
          <div class="swiper-slide shareCard bg-primary-dark text-white">
            <p>
              ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
            </p>
          </div>
          <div class="swiper-slide shareCard bg-white">
            <p>
              ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
            </p>
          </div>
        </div>
      </div>
      <!-- Scrollbar -->
      <div class="row align-items-center mt-5">
        <div class="col-8">
          <!-- 加上 position-static 將滾動條的絕對定位設定覆蓋 -->
          <div class="swiper-scrollbar position-static"></div>
        </div>
        <div class="col-1">
          <p class="mb-0 text-white">SCROLL</p>
        </div>
      </div>
    </div>
  </div>