@import "../../node_modules/bootstrap/scss/functions";//這個要優先載入，不可以亂動

// variables 這個變數檔案來自於 "node_modules/bootstrap/scss/_variables.scss"，
// 但是不會完全一樣，因為會針對設計稿去客製化一些 Boostrap 預設的參數值，
// 然後蓋過下面較晚載入的 SCSS 檔案 ( CSS 權重的關係 )
@import './utils/variables';

@import "./utils/base"; // 全站樣式 img{}, body{}
@import "./utils/mixin"; // mixin
@import "./utils/font";  //文字自型、字體設定

//相當於把 Boostrap5 中所有的 SCSS 檔載入進來
// @import "../../node_modules/bootstrap";  //雪朱:下欄可以直接載入bootstrap，但不確定是否是要編一太久所以不載入先註解
@import "../../node_modules/bootstrap/scss/functions";//這個要優先載入，不可以亂動
@import "../../node_modules/bootstrap/scss/bootstrap";
//----------   以上是載入 Boostrap 5 的 Sass 主體 ----------


//自訂 utility
@import './layout/utility.scss';


// layout
@import './layout/header.scss';
@import './layout/footer.scss';

// 首頁各個區塊
@import './macro/share_use.scss';
@import './macro/news.scss';
@import './michael/_index-banner.scss';
@import './macro/index_contact_us.scss';
@import './macro/index_Component.scss';


// pages
@import './pages/index.scss';
@import './pages/product.scss';
@import './pages/faq.scss';
@import './pages/contact_us.scss';
@import './pages/register.scss';
@import './pages/login.scss';
@import './pages/news.scss';
@import './pages/about_us.scss';
 