.footer{
  background: #ffffff;
  
}
.black {
  filter: brightness(0);
}
.footertext{
  @media(max-width:991px){
    font-size: 40px;
 }
 font-size: 32px;

}
.footericon{
  width: 80px;
  height: 80px;

}