.Noto-Sans-CJK-TC{
    font-family: 'Noto Sans CJK TC';
}

.Shrikhand{
    font-family: 'Shrikhand';
}

.Saira_ExtraCondensed{
    font-family:'Saira ExtraCondensed';
}

.fw-900{
    font-weight: 900;
}

.fw-400{
    font-weight: 400;
}

.fw-500{
    font-weight: 500;
}

.letter-spaing-1em{
    letter-spacing: 1em;
}

.border-bottom-dotted{
    border-bottom: 2px dotted white;
}

.hover-opacity:hover{
    opacity: 0.7;
}

.placeholder-text-dark::placeholder{
    color: #000000;
    font-weight: 700;
}

.opacity-50{
    opacity: 50%;
}

.alphaboxCircle{
    width: 196px;
    @media(max-width:768px){
        width: 140px;
    }
    @media(max-width:576px){
        width: 120px;
    }
    animation-name: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
    animation-fill-mode: both; 
}
@keyframes rotate {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}


.border-radius-24px{
    border-radius: 24px;
}

.width-20px{
    width: 20px;
}

.text-underline{
    text-decoration: underline !important;
}

//Header的按鈕
.btnW{
    width: auto;
    background-color: white;
    border-radius: 5px;
    border: 0px;
    background-origin: padding-box;
    padding: 8px 16px 8px 16px;
}

.width-23percent{
    width: 23.636363636%;
}

.width-49percent{
    width: 49.0909090909%;
}

.width-48percent{
    width: 48.148148148%;
}

.letter-spacing-from-185em{
    letter-spacing: 1.85em;
    @media(max-width:1760px){
        letter-spacing: 1.7em;
    }
    @media(max-width:1680px){
        letter-spacing: 1.6em;
    }
    @media(max-width:1600px){
        letter-spacing: 1.5em;
    }
    @media(max-width:1520px){
        letter-spacing: 1.4em;
    }
    @media(max-width:1460px){
        letter-spacing: 1.3em;
    }
    @media(max-width:1380px){
        letter-spacing: 1.2em;
    }
    @media(max-width:1300px){
        letter-spacing: 1.1em;
    }
    @media(max-width:1220px){
        letter-spacing: 1em;
    }
    @media(max-width:1140px){
        letter-spacing: .8em;
    }
    @media(max-width:992px){
        font-size: 24px !important;
        letter-spacing: 1em;
    }
    @media(max-width:768px){
        font-size: 20px !important;
        letter-spacing: .1em;
    }
    @media(max-width:490px){
        font-size: 16px !important;
        letter-spacing: 0em;
    }
}
.letter-spacing-from-08em{
    letter-spacing: 0.8em;
    @media(max-width:1760px){
        letter-spacing: 0.7em;
    }
    @media(max-width:1680px){
        letter-spacing: 0.8em;
    }
    @media(max-width:1600px){
        letter-spacing: 0em;
    }
    @media(max-width:992px){
        font-size: 16px !important;
    }
    @media(max-width:768px){
        display: none;
    }
}

