.Noto-Sans-CJK-TC{
    font-family: 'Noto Sans TC';
}

.fw-900{
    font-weight: 900;
}

.letter-spaing-1em{
    letter-spacing: 1em;
}

.border-bottom-dotted{
    border-bottom: 2px dotted white;
}

.hover-opacity:hover{
    opacity: 0.7;
}

.placeholder-text-dark::placeholder{
    color: #000000;
    font-weight: 700;
}