<!-- Banner 區塊 -->
<div class="bg-gradient-y-toBottom">
    <div class="index_wrap mx-auto pt-5 pt-lg-9">
        <!-- 圖片轉動區塊 -->
        <div class="mb-8">
            <div class="d-flex justify-content-between pb-2">
                <div class="d-flex flex-column justify-content-end width-23percent border-bottom border-white">
                    <h6 class="text-white Noto-Sans-CJK-TC fw-bold w-100">最新消息！新版本 v15.4 釋出，搶先體驗！</h6>
                </div>
                <div>
                    <img class="alphaboxCircle img-fluid mx-auto mb-6" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/circle.png?raw=true" alt="ALPHABOX+" >
                </div>
                <div class="d-flex flex-column justify-content-between width-23percent border-top border-white">
                    <h6 class="text-white Noto-Sans-CJK-TC fw-bold">ALPHABOX+ STUDIO</h6>
                    <p class="Noto-Sans-CJK-TC mb-0" style="color: #AD93CF;">Copyright © 2023 Hexschool.</p>
                </div>
            </div>
        </div>

        <!-- 產品圖片區塊 -->
        <div>
            <div class="d-flex justify-content-between">
                <div class="width-23percent">
                    <img class="w-100" src="../assets/images/diane.png" alt="diane">
                </div>
                <div class="width-47percent">
                    <div>
                        <h3 class="text-white">ALPHABOX+</h3>
                        <p class="text-white">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <img class="width-48percent" src="../assets/images/Felix.png" alt="">
                        <img class="width-48percent" src="../assets/images/Karina.png" alt="">
                    </div>
                    
                </div>
                <div class="width-23percent">
                    <img class="w-100" src="../assets/images/vito.png" alt="vito">
                </div>
            </div>
            <div></div>
        </div>


    </div>
</div>

<!-- 什麼是 ALPHABOX+ 區塊 -->
