.imageSize{
   
    width: 196px;
    height: 226px;
   
}
.imageSizeMobile{
   
    width: 80%;
    height: auto;
   
}
.imageresize{
    @media (min-width: 768px) {
        max-width: 75%;
        height: auto;
    }
    max-width: 100%;
    height: auto;
}

.fonts-20{
    font-size: 20px;
}

.fonts{
    @media (min-width: 768px) {
        font-size: 2.5rem;
    }
    font-size: 40px;
}
.icon{
    width: 24px;
    height: 24px;
}
