//偽元素: https://ithelp.ithome.com.tw/articles/10279532?sc=iThelpR
.line-hover{
    &::after{
        content:' ';
        display: block;
        width: 0%;
        height: 4px;
        border-bottom:0px solid black;
        transition: .4s, .2s;
    }
    &:hover::after{
        width: 100%;
        border-bottom:2px solid black;
    }
    @include pad{
        border-bottom:2px solid black;
        &::after{
            width: 100%;
            border-bottom:2px solid black;
        }
        &:hover::after{
            width: 100%;
            border-bottom:2px solid black;
        }
    }
    @include mobile{
        border-bottom:2px solid black;
        &::after{
            width: 100%;
            border-bottom:2px solid black;
        }
        &:hover::after{
            width: 100%;
            border-bottom:2px solid black;
        }
    }
    @include lg{
        border-bottom:2px solid black;
        &::after{
            width: 100%;
            border-bottom:2px solid black;
        }
        &:hover::after{
            width: 100%;
            border-bottom:2px solid black;
        }
    }
}

.carousel-control-prev{
    span{
        border: 1px solid white;
        border-radius: 50%;
    }
    &:hover{
         span{
            color: $primary;
            border: 1px solid $primary;
        }
    }
}

.carousel-control-next{
    span{
        border: 1px solid white;
        border-radius: 50%;
    }
    &:hover{
        span{
            color: $primary;
            border: 1px solid $primary;
        }
    }
}

// nav link客製化
// codepen: https://codepen.io/christan0612/pen/BvyeaB
.nav{
    .nav-link{
        border: 1px solid white;
        border-radius: 40px;
        width: 100%;
        &:hover{
            background-color: white;
        }
    }
}

//支援border RWD
//https://stackoverflow.com/questions/46412541/applying-borders-on-elements-depending-on-device-size-with-bootstrap
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
      .border#{$infix}-top {      border-top: $border-width solid $border-color !important; }
      .border#{$infix}-start {    border-left: $border-width solid $border-color !important; }
      .border#{$infix}-bottom {   border-bottom: $border-width solid $border-color !important; }
      .border#{$infix}-end {     border-right: $border-width solid $border-color !important; }
  
      .border#{$infix}-top-0 {    border-top: 0 !important; }
      .border#{$infix}-start-0 {  border-left: 0 !important; }
      .border#{$infix}-bottom-0 { border-bottom: 0 !important; }
      .border#{$infix}-end-0 {   border-right: 0 !important; }
  
      .border#{$infix}-x {
        border-left: $border-width solid $border-color !important;
        border-right: $border-width solid $border-color !important;
      }
  
      .border#{$infix}-y {
        border-top: $border-width solid $border-color !important;
        border-bottom: $border-width solid $border-color !important;
      }
      // support of .border-sm (-md, -lg, -xl)
      .border#{$infix} {
        border-top: $border-width solid $border-color !important;
        border-bottom: $border-width solid $border-color !important;
        border-left: $border-width solid $border-color !important;
        border-right: $border-width solid $border-color !important;
      }
      .border#{$infix}-0 {
        border-top: 0 !important;
        border-bottom: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
      }
    }
  }