//偽元素: https://ithelp.ithome.com.tw/articles/10279532?sc=iThelpR
.line-hover{
    &::after{
        content:' ';
        display: block;
        width: 0%;
        height: 4px;
        border-bottom:0px solid black;
        transition: .4s, .2s;
    }
    &:hover::after{
        width: 100%;
        border-bottom:2px solid black;
    }
}

.carousel-control-prev{
    span{
        border: 1px solid white;
        border-radius: 50%;
    }
    &:hover{
         span{
            color: $primary;
            border: 1px solid $primary;
        }
    }
}

.carousel-control-next{
    span{
        border: 1px solid white;
        border-radius: 50%;
    }
    &:hover{
        span{
            color: $primary;
            border: 1px solid $primary;
        }
    }
}

// nav link客製化
// codepen: https://codepen.io/christan0612/pen/BvyeaB
.nav-link{
    border: 1px solid white;
    border-radius: 40px;
    width: 100%;
    &:hover{
        background-color: white;
    }
}
$nav-link-color:                    white !important;
$nav-link-hover-color:              $primary !important;
$nav-pills-border-radius:           40px;
$nav-pills-link-active-color:       black !important;
$nav-pills-link-active-bg:          white !important;