bg-gradient-y-toBottom{
  //gradient-y-toBottom() 放在 _mixin.scss
  @include gradient-y-toBottom();
}

.index_wrap{
  max-width: 1792px;
  padding: 0 16px;
}

.bg-gradient-x-toRight{
  @include gradient-x-toRight();
  height: 40px;
}

.bg-gradient-x-toLeft{
  @include gradient-x-toLeft();
  height: 40px;
}



.home_background{
  position: relative;//讓home_background裡面的元素有浮在最上層的效果
  height: 880px;
  background-image: url("https://github.com/Eshiunm/HS-Week8-Alphabox/blob/master/assets/images/home_background.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media(max-width:1450px){
    height: 840px;
  }
  @media(max-width:1350px){
    height: 820px;
  }
  @media(max-width:1250px){
    height: 760px;
  }
  @media(max-width:1100px){
    height: 720px;
  }
  @media(max-width:991px){
    height: 680px;
  }
  @media(max-width:870px){
    height: 640px;
  }
  @media(max-width:800px){
    height: 610px;
  }
  @media(max-width:768px){
    height: 600px;
  }
  @media(max-width:767px){
    @include gradient-y-toBottom();
    height: 3168px;
  }
  @media(max-width:760px){
    height: 3100px;
  }
  @media(max-width:740px){
    height: 3040px;
  }
  @media(max-width:720px){
    height: 2950px;
  }
  @media(max-width:700px){
    height: 2870px;
  }
  @media(max-width:680px){
    height: 2790px;
  }
  @media(max-width:660px){
    height: 2710px;
  }
  @media(max-width:640px){
    height: 2630px;
  }
  @media(max-width:620px){
    height: 2550px;
  }
  @media(max-width:600px){
    height: 2500px;
  }
  @media(max-width:580px){
    height: 2410px;
  }
  @media(max-width:560px){
    height: 2330px;
  }
  @media(max-width:540px){
    height: 2250px;
  }
  @media(max-width:520px){
    height: 2170px;
  }
  @media(max-width:500px){
    height: 2100px;
  }
  @media(max-width:480px){
    height: 2050px;
  }
  @media(max-width:460px){
    height: 1980px;
  }
  @media(max-width:440px){
    height: 1910px;
  }
  @media(max-width:420px){
    height: 1820px;
  }
  @media(max-width:400px){
    height: 1780px;
  }
  @media(max-width:390px){
    height: 1760px;
  }
  @media(max-width:375px){
    height: 1680px;
  }
}

.what-is-ALPHABOX{
  height: 1080px;
  background-image: url("https://github.com/Eshiunm/HS-Week8-Alphabox/blob/master/assets/images/carousel_background.png?raw=true");
  background-size: 50% 100%;//寬度為原圖的50% 高度為原圖的100%
  background-repeat: no-repeat;
  @media(max-width:1450px){
    height: 1040px;
  }
  @media(max-width:1350px){
    height: 1000px;
  }
  @media(max-width:1200px){
    height: 960px;
  }
  @media(max-width:1200px){
    height: 960px;
  }
  @media(max-width:767px){
    height: 880px;
    background-size: 100%;
    background-position: center;
  background-size: cover;
  }
  
}

.full-width-line{
  height: 1px;
  background-color: #fff;
}

//首頁輪播特效
.alphabox {
  height: 351px;
  background-image: url("https://github.com/Eshiunm/HS-Week8-Alphabox/blob/master/assets/images/carousel_img.png?raw=true");
  background-size: cover;
  background-position: center;
  padding: 16px;
  @media (min-width: 768px) {
    height: 560px;
    padding-right: 40px;
  }
  
  &-title {
    letter-spacing: 24px;
    @media (min-width: 768px) {
      letter-spacing: 32px;
      margin-right: -32px;
    }
  }
}
.rotate {
  rotate: 180deg;
}
// 箭頭
.swiper-button-next, .swiper-button-prev {
  color: #fff;
  position: initial;
  margin-top: 0;
  width: auto;
  height: auto;
  &::after {
    content: '';
  }
}

.alphabox-shadow:hover{
  box-shadow: 0px 0px 16px 16px #8F00FFCC;
}
.banner-product-name-Diane{
  position: relative;
}
.banner-product-name-Diane::before{
  position: absolute;
  content: "Diane";
  color: white;
  top: 10%;
  left: 40%;
  font-size: 32px;
  font-family: 'Shrikhand';
}

.banner-product-name-Felix{
  position: relative;
}
.banner-product-name-Felix::before{
  position: absolute;
  content: "Felix";
  color: white;
  top: 10%;
  left: 40%;
  font-size: 32px;
  font-family: 'Shrikhand';
}

.banner-product-name-Karia{
  position: relative;
}
.banner-product-name-Karia::before{
  position: absolute;
  content: "Karia";
  color: white;
  top: 10%;
  left: 40%;
  font-size: 32px;
  font-family: 'Shrikhand';
}

.banner-product-name-Vito{
  position: relative;
}
.banner-product-name-Vito::before{
  position: absolute;
  content: "Vito";
  color: white;
  top: 10%;
  left: 40%;
  font-size: 32px;
  font-family: 'Shrikhand';
}