.bg-gradient-y-toBottom{
  //gradient-y-toBottom() 放在 _mixin.scss
  @include gradient-y-toBottom();
}

.index_wrap{
max-width: 1792px;
padding: 0 16px;
}

.bg-gradient-x-toRight{
@include gradient-x-toRight();
height: 40px;
@media(max-width: 992px){
  height: 20px;
}
}

.bg-gradient-x-toLeft{
@include gradient-x-toLeft();
height: 40px;
@media(max-width: 992px){
  height: 20px;
}
}



.home_background{
  position: relative;//讓home_background裡面的元素有浮在最上層的效果
  height: 880px;
  @media(max-width:1450px){
    height: 840px;
  }
  @media(max-width:1350px){
    height: 800px;
  }
  @media(max-width:1250px){
    height: 740px;
  }
  @media(max-width:1100px){
    height: 700px;
  }
  @media(max-width:991px){
    height: 620px;
  }
  @media(max-width:990px){
    height: 580px;
  }
  @media(max-width:830px){
    height: 540px;
  }
  @media(max-width:768px){
    height: 500px;
  }
  @media(max-width:767px){
    height: 480px;
  }
  @media(max-width:700px){
    height: 440px;
  }
  @media(max-width:600px){
    height: 420px;
  }
  @media(max-width:500px){
    height: 400px;
  }
  @media(max-width:450px){
    height: 380px;
  }
  @media(max-width:400px){
    height: 360px;
  }
  background-image: url("https://github.com/Eshiunm/HS-Week8-Alphabox/blob/master/assets/images/home_background.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.what-is-ALPHABOX{
  height: 1080px;
  @media(max-width:1450px){
    height: 1040px;
  }
  @media(max-width:1350px){
    height: 1000px;
  }
  @media(max-width:1200px){
    height: 960px;
  }
  @media(max-width:992px){
    height: 880px;
  }
  @media(max-width:767px){
    height: 660px;
  }
  @media(max-width:600px){
    height: 640px;
  }
  @media(max-width:450px){
    height: 620px;
  }
  @media(max-width:400px){
    height: 610px;
  }
  
  background-image: url("https://github.com/Eshiunm/HS-Week8-Alphabox/blob/master/assets/images/carousel_background.png?raw=true");
  background-size: 50% 100%;//寬度為原圖的50% 高度為原圖的100%
  background-repeat: no-repeat;
}

.full-width-line{
  height: 1px;
  background-color: #fff;
}

//首頁輪播特效
.alphabox {
  height: 351px;
  background-image: url("https://github.com/Eshiunm/HS-Week8-Alphabox/blob/master/assets/images/carousel_img.png?raw=true");
  background-size: cover;
  background-position: center;
  padding: 16px;
  @media (min-width: 768px) {
    height: 560px;
    padding-right: 40px;
  }
  
  &-title {
    letter-spacing: 24px;
    @media (min-width: 768px) {
      letter-spacing: 32px;
      margin-right: -32px;
    }
  }
}
.rotate {
  rotate: 180deg;
}
// 箭頭
.swiper-button-next, .swiper-button-prev {
  color: #fff;
  position: initial;
  margin-top: 0;
  width: auto;
  height: auto;
  &::after {
    content: '';
  }
}

.alphabox-shadow:hover{
  box-shadow: 0px 0px 16px 16px #8F00FFCC;
}