.bg-gradient-y-toBottom{
    //gradient-y-toBottom() 放在 _mixin.scss
    @include gradient-y-toBottom();
}

.index_wrap{
    max-width: 1792px;
    padding: 0 16px;
}

.bg-gradient-x-toRight{
    @include gradient-x-toRight();
    height: 40px;
}



.home_background{
    position: relative;//讓home_background裡面的元素有浮在最上層的效果
    height: 880px;
    background-image: url("../assets/images/home_background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.what-is-ALPHABOX{
    height: 1080px;
    background-image: url("../assets/images/carousel_background.png");
    background-size: 50% 100%;//寬度為原圖的50% 高度為原圖的100%
    background-repeat: no-repeat;
}

.full-width-line{
    height: 1px;
    background-color: #fff;
}

//首頁輪播特效
.alphabox {
    height: 351px;
    background-image: url(../assets/images/carousel_img.png);
    background-size: cover;
    background-position: center;
    padding: 16px;
    @media (min-width: 768px) {
      height: 560px;
      padding-right: 40px;
    }
    
    &-title {
      letter-spacing: 24px;
      @media (min-width: 768px) {
        letter-spacing: 32px;
        margin-right: -32px;
      }
    }
  }
  .rotate {
    rotate: 180deg;
  }
  // 箭頭
  .swiper-button-next, .swiper-button-prev {
    color: #fff;
    position: initial;
    margin-top: 0;
    width: auto;
    height: auto;
    &::after {
      content: '';
    }
  }


