<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/google-font'); -%>
    <%- include('./layout/jquery-cdn'); -%>
    <%- include('./layout/aos-cdn'); -%>
    <title>聯絡我們</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 聯絡我們主區塊 -->
    <div class="bg-primary-dark pt-10">
      <div class="container">
        <div class="pt-10 pt-md-40 pb-10 pb-md-40 ">
          <h1 class="text-white mb-4 letter-spaing-1em fw-bold Noto-Sans-CJK-TC">聯絡我們</h1>
          <div class="row justify-content-md-around">
            <!-- 聯絡我們填寫表單區塊 -->
              <div class="col-md-6">
                <div class="text-white">
                  <p class="mb-16 fs-4 fw-normal">您的意見與需求對我們至關重要！如果您對 ALPHABOX+ 有任何疑問、建議或需求，請隨時填寫以下表單，我們將在 24 小時內回覆您。您的寶貴意見將幫助我們不斷改進產品與服務，為您帶來更優質的體驗。</p>
                  <h3 class="mb-16 fs-4 fw-bold">我們期待您的來信與來電，竭誠為您解答。讓我們攜手共創更美好的未來！   </h3>
                  <form action="" class="needs-validation" novalidate>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control placeholder-text-dark" placeholder="姓名" aria-label="Username" aria-describedby="basic-addon1" required>
                      <div class="invalid-feedback">請輸入姓名</div>
                    </div>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control placeholder-text-dark" placeholder="EMAIL" aria-label="Username" aria-describedby="basic-addon1" required>
                      <div class="invalid-feedback">請輸入Email</div>
                    </div>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control placeholder-text-dark" placeholder="連絡電話" aria-label="Username" aria-describedby="basic-addon1" required>
                      <div class="invalid-feedback">請輸入手機號碼</div>
                    </div>
                    <div class="form-floating mb-3">
                      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                      <label for="floatingTextarea2" class="text-dark fw-bold">Comments</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100 fw-500">送出</button>
                    <script>
                      // 每個有 .needs-validation 的 <form> 元素，觸發 submit 事件時，
                      // 將該元素加入 class 'was-validated'
                      $('.needs-validation').each(function(index) {
                        $(this).on('submit', function(e) {
                          e.preventDefault();
                          $(this).addClass('was-validated');
                        });
                      });
                    </script>
                  </form>
                </div>
              </div>
            <!-- 客服、地址、連絡電話等資訊 -->
              <div class="col-md-3">
                <div class="text-white mb-10 mt-10 mt-md-0">
                  <span class="opacity-50">客服時間</span>
                  <p class="fw-normal">週一至週五 09:00-18:00</p>
                </div>
                <div class="text-white mb-10">
                  <span class="opacity-50">聯絡地址</span>
                  <p class="fw-normal">高雄市新興區民生一路 56 號</p>
                </div>
                <div class="text-white mb-10">
                  <span class="opacity-50">聯絡地址</span>
                  <p class="fw-normal mb-0">+886-2-12345678</p>
                  <p class="fw-normal">mailto:customer@alphabox.com</p>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="pt-5 pt-md-10 pb-6 pb-md-12 border-top border-white">
        <div class="container">
          <ul class="d-flex list-unstyled justify-content-md-end mb-0 flex-wrap">
            <li class="py-2 contact_us_li"><a class="px-2 px-md-7 text-white hover-opacity" href="#">INSTAGRAM</a></li>
            <li class="py-2 contact_us_li"><a class="px-2 px-md-7 text-white hover-opacity" href="#">FACEBOOK</a></li>
            <li class="py-2 contact_us_li"><a class="px-2 px-md-7 text-white hover-opacity" href="#">TWITTER</a></li>
            <li class="py-2 contact_us_li"><a class="ps-2 ps-md-7 text-white hover-opacity" href="#">LINKEDIN</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 聯絡我們副區塊 -->
    <div class="container pt-10 contact_us_secondpart">
      <h3 class="text-dark mb-6 letter-spaing-1em fw-bold Noto-Sans-CJK-TC fs-12">選擇自己要的角色</h3>
      <div class="mb-10 mb-md-20">
        <span class="d-inline-block text-third fw-bold me-4 fs-8">20K+</span>
        <span class="fw-bold fs-8">使用者喜歡我們的服務</span>
      </div>
    </div>
    <div class="mb-10 mb-md-30">
      <div>
        <img data-aos="fade-right" class="contact_us_product_img w-75" src="../assets/images/horizontal/diane_horizontal.png" alt="">
      </div>
      <div class="text-end">
        <img data-aos="fade-left" class="contact_us_product_img w-75" src="../assets/images/horizontal/felix_horizontal.png" alt="">
      </div>
      <div>
        <img data-aos="fade-right" class="contact_us_product_img w-75" src="../assets/images/horizontal/karina_horizontal.png" alt="">
      </div>
      <div class="text-end">
        <img data-aos="fade-left" class="contact_us_product_img w-75" src="../assets/images/horizontal/vito_horizontal.png" alt="">
      </div>
    </div>
    
    <%- include('./layout/footer'); -%>
    <script>
      AOS.init();
    </script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
