<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <%- include('./layout/google-font'); -%>
    <title>Alphabox 虛擬陪伴平台</title>
  </head>
  <body>
    <!-- By 文君 -->
    <%- include('./layout/header'); -%>

    <!-- Banner By Michael -->
    <%- include('./layout/michael/banner'); -%>

    <%- include('./layout/macro/news'); -%>
    <%- include('./layout/macro/share_use'); -%>

    <!-- By 文君 -->
    <%- include('./layout/macro/index_contact_us'); -%>
    <%- include('./layout/macro/index_Component'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  </body>
</html>
