<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./layout/google-font'); -%>
    <%- include('./layout/jquery-cdn'); -%>
    <%- include('./layout/aos-cdn'); -%>
    <%- include('./layout/font-awsome'); -%>
    <title>最新消息-詳細頁</title>
</head>
<body>
    <%- include('./layout/header'); -%>

    <%- include('./layout/news_cp'); -%>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>